<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
          
      </head>
  <body>
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title">社保查询页</h1>
    </header>
    <div style="padding-top: 50px;" id="content-box">
        <div class="mui-card">
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="account-info">
                          <div id="userInfo"></div>
                          <div><i class="mui-icon mui-icon-arrowright" id="toUser"></i></div>
                        </div>
                    </li>
                </ul>
                <div class="account-content">
                    <div class="account-item" style="border-right: 1px solid #eee;">
                        <p class="mark" id="yanglao"></p>
                        <p>个人养老账户</p>
                    </div>
                    <div class="account-item">
                        <p class="mark" id="yiliao"></p>
                        <p>个人医疗账户</p>
                    </div>
                </div>
                <span class="refresh" id="refresh"><i class="mui-icon mui-icon-refresh"></i>获取最新社保数据</span>
            </div>
        </div>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header" style="color: #8f8f94;">账户信息</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">缴纳状态</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="type"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">最近缴纳月份</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="month"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">基数</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="base"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">缴纳单位</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="companyName"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header" style="color: #8f8f94;">统计数据</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">累计缴纳月份</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;"><span id="monthCount"></span><i class="mui-icon mui-icon-arrowright" id="viewMonth"></i></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="user-info" style="">
        
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header" style="color: #8f8f94;">个人信息<div style="text-align: center;color:#1199ff;" id="back">返回查询</div></div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">姓名</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="name"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">身份证号</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="idNumber"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">性别</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;" id="gender"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header" style="color: #8f8f94;">定点医院</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">定点医院</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="ddyljg1"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">定点医院</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="ddyljg2"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">定点医院</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="ddyljg3"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">定点医院</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="ddyljg4"></div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-4">定点医院</div>
                          <div class="mui-col-sm-6 mui-col-xs-8" style="text-align: right;" id="ddyljg5"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header" style="color: #8f8f94;">缴费信息及公司</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div style="text-align: left;" id="companyInfo"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>
