<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
          
      </head>
  <body>
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title">社保查询页</h1>
    </header>
    <div style="padding-top: 50px;">
        <span id="refresh">拉取信息</span>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header">账户信息</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">最近缴纳月份</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">最近缴纳金额</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">缴纳城市</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">基数</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">缴纳单位</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">更新信息日期</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;">xxxx</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mui-card">
            <!--页眉，放置标题-->
            <div class="mui-card-header">统计数据</div>
            <!--内容区-->
            <div class="mui-card-content">
                <ul class="mui-table-view">
                    <li class="mui-table-view-cell">
                        <div class="mui-row">
                          <div class="mui-col-sm-6 mui-col-xs-6">累计缴纳月份</div>
                          <div class="mui-col-sm-6 mui-col-xs-6" style="text-align: right;"><i class="mui-icon mui-icon-arrowright"></i></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>
