.createOrder-content {
    .mui-input-row label{
        padding: 11px 0;
    }
    .create-order-info{
        .mui-col-sm-6{
            color: #8f8f94;
        }
        .create-order-info__right{
            text-align: right;
        }
    }
    .mui-card-header{
        font-size: .35rem;
        background-color:#1199FF;
        color: #fff;
    }
}