.paycost-list{
    padding: 45px 0 15px;
    background-color: #f1f1f1;
    .mui-table-view{
        border-radius: 0;
        font-size: 14px;
        background-color: #f1f1f1;
        li{
            background-color: #fff;
            width: 95%;
            margin: 10px auto;
            border-radius: 10px;
        }
    }
    .mui-table-view:after{
        background-color: #fff;
    }
}
.paycost-nav_active{
    color:#1199FF;
}
.paycost-nav{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 10px;
}
.mui-table-view-cell{
    
    .mui-btn{
        padding:3px 6px;
    }
}
.mui-row{
    text-align: center;
}
.item-otherinfo{
    position: relative;
    margin-top: 5px;
    padding: 5px;
    .shenheState{
        position: absolute;
        width:2rem;
        height:2rem;
        right:0;
        bottom: 10px;
    }
}
.handle-btn{
    color:#1199ff;
}
.mui-table-view-cell:after{
    display: none;
}
.mui-table-view:before{
    display: none;
}