.paycost-list{
    padding: 45px 0 15px;
    min-height: 100vh;
    .mui-table-view{
        border-radius: 0;
        font-size: 14px;
    }
    .mui-table-view:after{
        background-color: #fff;
    }
}
.paycost-nav_active{
    color:#1199FF;
}
.paycost-nav{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 10px;
}
.mui-table-view-cell{
    border-bottom: 1px solid #ddd;
    .mui-btn{
        padding:3px 6px;
    }
}
