.paycost-list{
    padding: 45px 0 15px;
    min-height: 100vh;
    .mui-table-view{
        border-radius: 0;
        font-size: 14px;
    }
    .mui-table-view:after{
        background-color: #fff;
    }
}
.paycost-nav_active{
    color:#1199FF;
}
.paycost-nav{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    margin-bottom: 10px;
}
.mui-table-view-cell{
    
    .mui-btn{
        padding:3px 6px;
    }
}
.mui-row{
    text-align: center;
}
.item-otherinfo{
    position: relative;
    margin-top: 5px;
    padding: 5px;
    .shenheState{
        position: absolute;
        width:2rem;
        height:2rem;
        right:0;
        top:0;
        
    }
    .ing{
        background: url(../../asset/imgs/shenheing.png) no-repeat;
        background-size: 100%;
    }
    .suc{
        background: url(../../asset/imgs/shenhesuc.png) no-repeat;
        background-size: 100%;
    }
}
.handle-btn{
    color:#1199ff;
}
