.swiper-container {
    width: 100%;
    overflow: hidden;
    height: 1.6rem;
    background: #1199ff;
    padding-top: 0.25rem;
    font-size: 1rem;
    color: #fff;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 17%;
    height: 1rem;
    font-size: 0.6rem;
    line-height: 1rem;
    text-align: center;
    opacity: 0.4;
  }
  .swiper-slide {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
    background: rgba(0, 0, 0, 0);
    background-size: 100% 100%;
    margin: 0 0.5rem;
    color: #ffffff;
  }
  .swiper-slide-active {
    font-size: 0.8rem;
    opacity: 1;
  }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: none;
  }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
  }
  .mui-row{
    padding: 10px 0;
    text-align: center;
    width:100%;
    font-size: 15px;
  }
  .mui-collapse-content p{
    color:#000;
    opacity: .8;
  }