.mybalance-content{
    margin:0;
    margin-top: 44px;
    background-color:#1199FF;
    .mybalance-item{
        text-align: center;
        color: #fff;
        font-size: 1rem;
        line-height: 1.5rem;
        h5{
            color: #fff;
            font-size: .5rem;
        }
        span{color: #fff;}
    }
    .balance-info{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
        color: #fff;
    }
    .top-up-btn{
        display: block;
        width: 1.5rem;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: .3rem;
        color: #fff;
        border-color: #fff;
    }
    .mui-pull-bottom-pocket{
        background-color: #fff;
    }
}
#recordLoad {
    .mui-table-view{
        border-radius: 0;
        font-size: 14px;
    }
}
.mui-switch{
    width:90px;
    margin: 10px;
}
.mui-switch-blue{
    border: 2px solid #fff;
    background-color: #fff;
}
.mui-switch-blue.mui-active{
    border: 2px solid #fff;
    background-color: #fff;
}
.mui-switch .mui-switch-handle{
    background-color: #1199FF;
}
.mui-switch:before{
    color: #1199FF;
    content:'余额'
}
.mui-switch.mui-active:before{
    color: #1199FF;
    content:'立伟币'
}
.view-record{
    display: flex;
    justify-items: center;
    align-items: center;
    padding:0 15px;
}
.view-record>span{
    font-size: .4rem;
}