.mybalance-content{
    margin-top: 1.5rem;
    padding: .2rem;
    .balance-info{
        text-align: center;
        font-size: 1.5rem;
    }
    .top-up-btn{
        display: block;
        width: 1.5rem;
        margin-left: auto;
        font-size: .3rem;
    }
}