<!DOCTYPE html>
<html lang="zh">
  <head>
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
    <meta
      name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>"
      content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>"
    />
    <% } %> <% for (var css in htmlWebpackPlugin.options.files.css) { %>
    <link
      href="<%=htmlWebpackPlugin.options.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% for (var js in htmlWebpackPlugin.options.files.js) { %>
    <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
    <% } %>
    <script type="text/javascript" charset="utf-8">
      window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>";
    </script>
  </head>
  <body>
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left"
        id="home-menu"
      ></a>
      <h1 class="mui-title">已转账通知</h1>
    </header>
    <div class="transferNotice-container">
      <div class="account-label">
        <h5>填写转账信息</h5>
        <p>请正确填写您的已转账信息</p>
      </div>
      <form class="mui-input-group userInfo-content" style="margin-top: 0px">
        <div class="mui-input-row">
          <label>转账金额</label>
          <input
          id="totalMoney"
            type="text"
            class="mui-input-clear"
            placeholder="请输入用户名"
          />
        </div>
        <div class="mui-input-row">
          <label>转账账号</label>
          <input id="account" type="text" class="mui-input-clear" placeholder="请输入身份证号" />
        </div>
        <div class="mui-input-row">
          <label>银行名称</label>
          <input
          id="bankName"
            type="text"
            class="mui-input-clear"
            placeholder="请输入银行名称"
          />
        </div>
        <div class="mui-input-row">
          <label>持卡人</label>
          <input
          id="userName"
            type="text"
            class="mui-input-clear"
            placeholder="请输入持卡人"
          />
        </div>
        <div class="mui-input-row">
          <a id="transferTimeOpen" class="mui-navigate-right display-flex">
            <label>转账时间</label>
            <span id="transferTime" style="padding-right: 15px"></span>
          </a>
        </div>
        <div class="mui-input-row">
          <label>转账备注</label>
          <input
          id="memo"
            type="text"
            class="mui-input-clear"
            placeholder="请输入转账备注"
          />
        </div>
      </form>
      <button
        id="save"
        type="button"
        class="mui-btn mui-btn-primary add-user-btn"
      >
        提交
      </button>
    </div>
  </body>
</html>
