<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/asset/tools/tools.css">
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
          <script>var rootHtml = document.documentElement;rootHtml.style.fontSize = `${10}px`;</script>
      </head>
  <body>
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title" id="tool-name">工具</h1>
    </header>
    <div style="padding-top: 50px;">
      <div class="mui-card" id="view-content">
        <!-- <div class="mui-card-header">缴纳社保</div> -->
        <!--内容区-->
        <div class="mui-card-content">
          <ul class="mui-table-view">
            <li class="mui-table-view-cell">
              <a id="cityopen" class="mui-navigate-right">
                <span style="padding-right: 10px;">缴费城市</span>
                <span id="city" style="padding-right: 15px"></span>
              </a>
            </li>
            <li class="mui-table-view-cell">
              <div style="display: flex;align-items: center;justify-content: space-between;">
                <div>
                  <label>缴费基数</label>
                  <input
                    id="baseSalary"
                    type="number"
                    style="width:170px;margin: 0;border: none;"
                    class="mui-input-clear"
                    placeholder="请输入缴费基数"
                  />
                </div>
                
                <div id="csi-btn" style="padding-left: 5px;display: none;">输入最小基数</div>
              </div>
              </div>
            </li>
          </ul>
          <button id="tool-btn" style="display:block;width: 200px;margin: 0 auto;border-radius: 50px;color:#fff;background-color:#1199FF;border-color: #1199FF;margin-bottom: 10px;" type="button" >开始计算</button>
        </div>
        
      </div>
      <div class="wagesresult-box" style="display: none;"></div>
    </div>
  </body>
</html>
