.display-flex {
    display: flex !important;
    justify-content: space-between;
  }
  .alert-display-flex {
    display: flex !important;
    justify-content: space-between;
    padding:5px;
    span{
      font-size: 14px;
    }
  }
  #csi-btn{
    padding:2px 5px;
    background-color:#1199ff;
    color: #fff;
    border-radius: 8px;
  }