<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
      </head>
  <body>
    <header class="mui-bar mui-bar-nav" style="position: inherit;">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title">支付列表</h1>
    </header>
    <div class="paylist-content">
      <h5 class="paylist-label">大话社保员工不会以个人名义向您收取任何费用，请通过官方渠道充值。以免上当受骗，给您带来损失。</h5>
      <ul class="paylist-item">
        <li id="online-pay">
          <i class="mui-icon mui-icon-weixin label-icon"></i>
          <div>
            <p style="font-weight: 600;">线上支付</p>
            <p>微信、京东支付线上付款，有手续费</p>
          </div>
        </li>
        <li id="offline-pay">
          <i class="mui-icon mui-icon-chatboxes label-icon"></i>
          <div>
            <p style="font-weight: 600;">线下支付</p>
            <p>微信、京东支付线上付款，有手续费</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
