<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
      </head>
<body>
    <!-- 主页面标题 -->
    <header class="mui-bar mui-bar-nav">
        <a
          class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left"
          id="home-menu"
        ></a>
        <h1 class="mui-title">我的邀请</h1>
        <a
          class="mui-icon mui-icon-weixin mui-action-menu mui-pull-right"
          id="contact-user"
        ></a>
      </header>
        <div class="mui-card invite-qrcode">
            <!--页眉，放置标题-->
            <div class="mui-card-header">我的二维码</div>
            <!--内容区-->
            <div class="mui-card-content">
                <img class="" src="https://img0.baidu.com/it/u=1353524166,3852939982&fm=224&fmt=auto&gp=0.jpg" alt="">
            </div>
        </div>
      <div class="invite-list">
        <div class="mui-card" style="margin:0;">
            <!--页眉，放置标题-->
            <div class="mui-card-header">我的邀请</div>
            <!--内容区-->
            <div class="mui-card-content">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell"><span>张三</span><span style="margin-left: 10px;">邀请时间：202106</span></li>
                <li class="mui-table-view-cell"><span>张三</span><span style="margin-left: 10px;">邀请时间：202106</span></li>
                <li class="mui-table-view-cell"><span>张三</span><span style="margin-left: 10px;">邀请时间：202106</span></li>
            </ul>
        </div>
    </div>
</body>
</html>