<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
      </head>
<body>
    <!-- 主页面标题 -->
    <header class="mui-bar mui-bar-nav" style="position: inherit;">
        <a
          class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left"
          id="home-menu"
        ></a>
        <h1 class="mui-title">我的邀请</h1>
        <!-- <a
          class="mui-icon mui-icon-weixin mui-action-menu mui-pull-right"
          id="contact-user"
        ></a> -->
      </header>
        <div class="mui-card invite-qrcode">
            <!--页眉，放置标题-->
            <div class="mui-card-header">我的二维码</div>
            <!--内容区-->
            <div class="mui-card-content">
                <img id="qrcode-img" class="qrcode-img" src="/asset/imgs/qrCode/1601627106666_.pic.jpg" alt="">
                <p class="qrcode-title">长按图片转发或保存</p>
            </div>
        </div>
      <div class="invite-list">
        <div class="mui-card" style="margin:0;">
          <div class="mui-row">
            <div class="mui-col-sm-6 mui-col-xs-6 myinvite-item">
              <span></span>
              <h5>邀请的用户数</h5>
            </div>
            <div class="mui-col-sm-6 mui-col-xs-6 myinvite-item">
              <span></span>
              <h5>获得的返现余额</h5>
            </div>
          </div>
            <!--页眉，放置标题-->
            <div class="mui-card-header">我的邀请</div>
            <!--内容区-->
            <div class="mui-card-content">
              <ul class="mui-table-view" id="invitedUsersList"></ul>
            </div>
    </div>
</body>
</html>