<!DOCTYPE html>
<html lang="zh">
  <head>
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
      <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
      <% } %>
    <% for (var css in htmlWebpackPlugin.options.files.css) { %>
      <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
      <% } %>

      <% for (var js in htmlWebpackPlugin.options.files.js) { %>
        <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
      <% } %>
      <script type="text/javascript" charset="utf-8">
        window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
      </script>
  </head>
  <body>
    <!-- 侧滑导航根容器 -->
    <div>
      <!-- 菜单容器 -->
      <div class="mui-popover" style="position: fixed;">
        <div style="background:#fff;height:100vh;">
          <ul class="mui-table-view">
            <li class="mui-table-view-cell" style="font-size: 20px">
              导航
            </li>
            <li data-href="/MyServer/index.html" class="mui-table-view-cell nav-item__click">
              <img src="/asset/imgs/zhaofuwu.png" alt="">
              <span class="mui-navigate-right">我的服务</span>
            </li>
            <li data-href="/MyBalance/index.html" class="mui-table-view-cell nav-item__click">
              <img src="/asset/imgs/zichan.png" alt="">
              <span class="mui-navigate-right">我的资产</span>
            </li>
            <li data-href="/MyInfo/index.html?back=Home" class="mui-table-view-cell nav-item__click">
              <img src="/asset/imgs/gerenguanli.png" alt="">
              <span class="mui-navigate-right">我的资料</span>
            </li>
            <li data-href="/MyInvite/index.html" class="mui-table-view-cell nav-item__click">
              <img src="/asset/imgs/yaoqingfenxiang.png" alt="">
              <span class="mui-navigate-right">我的邀请</span>
            </li>
            <li data-href="/Feedback/index.html" class="mui-table-view-cell nav-item__click">
              <img src="/asset/imgs/help.png" alt="">
              <span class="mui-navigate-right">帮助中心</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 主页面容器 -->
      <div >
        <!-- 主页面内容容器 -->
        <div style="background:#fff;" id="home-body">
          <!-- 主页面标题 -->
          <header class="mui-bar mui-bar-nav">
            <a
              class="mui-icon mui-pull-left menu-icon"
              id="home-menu"
            >
              <img src="/asset/imgs/menu-icon.png" alt="">
            </a>
            <h1 class="mui-title">大话社保</h1>
            <a
              href="tel:13764567708"
              class="mui-icon mui-icon-phone mui-action-menu mui-pull-right"
              id="contact-user"
            ></a>
          </header>
          <div style="padding-top: 45px;">
            <!-- 主界面具体展示内容 -->
            <img class="banner-home" src="/asset/imgs/home-banner.png" alt="">
            <div class="content-home">
              <div class="content-info">
                <img
                  id="headimg"
                  alt=""
                />
                <div class="content-info__label">
                  <h5 id="welcome-to-language"></h5>
                  <h5 id="userIdCard"></h5>
                </div>
              </div>
              <div class="content-notice">
                <img src="/asset/imgs/tz.png" class="notice-icon" alt=""><span id="topMessage"></span>
              </div>
              <div class="content-details">
                <div class="mui-row business-list" id="toMyServer">
                  <div class="mui-col-sm-4 mui-col-xs-4">
                    <li class="mui-table-view-cell business-item">
                      <img
                        class="business-img"
                        src="/asset/imgs/sb.png"
                        alt=""
                      />
                      <span class="business-title">社保</span>
                    </li>
                  </div>
                  <div class="mui-col-sm-4 mui-col-xs-4">
                    <li class="mui-table-view-cell business-item">
                      <img
                        class="business-img"
                        src="/asset/imgs/gjj.png"
                        alt=""
                      />
                      <span class="business-title">公积金</span>
                    </li>
                  </div>
                  <div class="mui-col-sm-4 mui-col-xs-4">
                    <li class="mui-table-view-cell business-item">
                      <img
                        class="business-img"
                        src="/asset/imgs/xzmx.png"
                        alt=""
                      />
                      <span class="business-title">薪酬</span>
                    </li>
                  </div>
                  <div class="details-amount" id="toPayCost">
                    <div>
                      <p>余额</p>
                      <p style="font-size: 16px;" id="mybalance-num"></p>
                    </div>
                    <div>
                      <p>待支付金额</p>
                      <p style="font-size: 16px;" id="order-sum"></p>
                    </div>
                    <div>
                      <p>立伟币</p>
                      <p style="font-size: 16px;" id="lwcion-num"></p>
                    </div>
                  </div>
                </div>
                
                <div class="query-group">
                  <button
                    type="button"
                    class="mui-btn mui-btn-primary mui-btn-outlined"
                  >
                    个人社保查询
                  </button>
                  <button
                    type="button"
                    class="mui-btn mui-btn-primary mui-btn-outlined"
                  >
                    个人公积金查询
                  </button>
                </div>
                <div class="details-share">
                  <img src="/asset/imgs/songhongbao.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
