<!DOCTYPE html>
<html lang="zh">
    <head>
        <title></title>
        <meta
          name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
        />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="UTF-8" />
        <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
          <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
          <% } %>
    
        <% for (var css in htmlWebpackPlugin.options.files.css) { %>
          <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
          <% } %>
    
          <% for (var js in htmlWebpackPlugin.options.files.js) { %>
            <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
          <% } %>
          <link rel="stylesheet" href="/asset/swiper/index.css">
          <script src="/asset/swiper/index.js"></script>
          <script type="text/javascript" charset="utf-8">
            window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
          </script>
      </head>
<body>
    <!-- 主页面标题 -->
    <header class="mui-bar mui-bar-nav" style="position: inherit;">
        <a
          class="mui-icon mui-icon-home mui-pull-left nav-bar-handle"
          id="home-menu"
        ></a>
        <h1 class="mui-title">邀请好友</h1>
        <!-- <a
          class="mui-icon mui-icon-weixin mui-action-menu mui-pull-right"
          id="contact-user"
        ></a> -->
      </header>
      <!-- 主界面具体展示内容 -->
      <div class="swiper-container" style="margin-top: 10px;">
        <div class="swiper-wrapper">
        </div>
      </div>
      <div style="font-size: 14px;text-align: center;padding-top: 4px;">长按保存图片转发朋友圈&nbsp;&nbsp;&nbsp;&nbsp;<a href="/MyInvite/index.html">查看邀请详情</a></div>
      <div class="swiper-pagination" id="pagination"></div>
</body>
</html>