.slide-img{
    width: 85%;
    margin: 0 auto;
    display: block;
}
// .swiper-pagination i {
//     display: inline-block;
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     font-size: 15px;
//     background-color: red;
//     color: #fff;
// }
.swiper-pagination-bullet{
    width:20px;
    height:20px;
    line-height: 20px;
    font-size: 14px;
    opacity: 1;
    color: #fff;
    margin: 5px;
}
body {
    height: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -20px;
}
.swiper-pagination{
    display: flex;
    justify-content: center;
    width:100%;
    margin: 0 auto;
    padding-bottom: 5px;
}