<!DOCTYPE html>
<html lang="zh">
  <head>
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
      <meta name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>" content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>" />
      <% } %>

    <% for (var css in htmlWebpackPlugin.options.files.css) { %>
      <link href="<%=htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet" />
      <% } %>

      <% for (var js in htmlWebpackPlugin.options.files.js) { %>
        <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
      <% } %>
      <script type="text/javascript" charset="utf-8">
        window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
      </script>
  </head>
  <body>
    <!-- 主页面标题 -->
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-home mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title">帮助中心</h1>
    </header>
    <div class="mui-card feedback-content">
      <!--页眉，放置标题-->
      <div class="mui-card-header">
        有疑问或建议请发送邮件至 admin@liweirenli.com
        <br>
        感谢您的支持！
      </div>
    </div>
    <div class="mui-card">
      <!--页眉，放置标题-->
      <div class="mui-card-header">FAQ</div>
      <!--内容区-->
      <div class="mui-card-content">
        <ul class="mui-table-view"> 
          <li class="mui-table-view-cell mui-collapse mui-active">
              <a class="mui-navigate-right" href="#">如何联系我们？</a>
              <div class="mui-collapse-content">
                  <p>客服电话：010-51285609</p>
                  <p>电子邮件：admin@liweirenli.com</p>
              </div>
          </li>
          <li class="mui-table-view-cell mui-collapse mui-active">
            <a class="mui-navigate-right" href="#">如何补缴社保?</a>
            <div class="mui-collapse-content">
                <p style="color:#007aff;" id="view-order">社保只能补缴最近3个月，如有需要请联系客服电话</p>
            </div>
          </li>
          <li class="mui-table-view-cell mui-collapse mui-active">
            <a class="mui-navigate-right" href="#">为什么我邀请好友后没有给我返现?</a>
            <div class="mui-collapse-content">
                <p style="color:#007aff;" id="updata-indo">邀请好友后需要好友首次下单并成功扣除金额的次日，返现才会直接打到您的余额。</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
  </body>
</html>
