<!DOCTYPE html>
<html lang="zh">
  <head>
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
    <meta
      name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>"
      content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>"
    />
    <% } %> <% for (var css in htmlWebpackPlugin.options.files.css) { %>
    <link
      href="<%=htmlWebpackPlugin.options.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% for (var js in htmlWebpackPlugin.options.files.js) { %>
    <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
    <% } %>
    <script type="text/javascript" charset="utf-8">
      window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>"
    </script>
    
  </head>
  <body>
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-home mui-pull-left nav-bar-handle"
        id="home-menu"
      ></a>
      <h1 class="mui-title">我的服务</h1>
      <a
        class="mui-icon mui-icon-gear mui-action-menu mui-pull-right"
        id="more-set"
      ></a>
    </header>
    <div class="myserver-content">
      <div class="selectCity-content" >
        <div class="mui-card">
          <!--页眉，放置标题-->
          <div class="mui-card-header" style="background-color: #fff">
            <div id="headimg">
              <i
              class="mui-icon mui-icon-contact"
              style="font-size: 50px; color: #1199ff"
            ></i>
            </div>
            <div class="select-city-info">
              <p style="font-size: 16px" id="userName"></p>
              <p id="userIdCard"><p>
            </div>
          </div>
          <!--内容区-->
          <div class="mui-card-content" style="padding: 15px">
            <div class="mui-row">
              <div class="mui-col-sm-4 mui-col-xs-4">手机号</div>
              <div class="mui-col-sm-8 mui-col-xs-8 create-order-info__right" id="userMobile"></div>
            </div>
            <div class="mui-row">
              <div class="mui-col-sm-4 mui-col-xs-4">户籍</div>
              <div class="mui-col-sm-8 mui-col-xs-8 create-order-info__right" id="userHouseHold"></div>
            </div>
          </div>
        </div>
        <div style="padding:0 15px;"></div>
        <div class="order-operation" id="order-operation">
          <div class="order-operation-item" id="create-order">
            <img src="/asset/imgs/create-server.png" alt="">
            <span>购买服务</span>
          </div>
          <div class="order-operation-item" id="view-order">
            <img src="/asset/imgs/server-list.png" alt="">
            <span>服务订单列表</span>
          </div>
        </div>
        <div class="mui-card" id="handle-order">
          <!--页眉，放置标题-->
          <div class="mui-card-header">我的服务</div>
          <!--内容区-->
          <div class="mui-card-content">
            <ul class="mui-table-view handle-info">
              <li class="mui-table-view-cell" id="view-myInfo"><img src="/asset/imgs/gerenguanli.png" alt="">我的信息</li>
              <li class="mui-table-view-cell" id="view-myBanlance"><img src="/asset/imgs/zichan.png" alt="">我的资产</li>
              <li class="mui-table-view-cell" id="contract-management"><img src="/asset/imgs/contract.png" alt="">合同管理</li>
            </ul>
          </div>
        </div>
        <div class="mui-card" id="handle-tools">
          <!--页眉，放置标题-->
          <div class="mui-card-header">服务小工具</div>
          <!--内容区-->
          <div class="mui-card-content handle-tools-content">
            <div class="handle-tools-item" data-href="/GjjTool/index.html?type=3">
              <img src="/asset/imgs/shebao-jisuan.png" alt="">
              <span>社保计算器</span>
            </div>
            <div class="handle-tools-item" data-href="/GjjTool/index.html?type=2">
              <img src="/asset/imgs/gjj-jisuan.png" alt="">
              <span>公积金计算器</span>
            </div>
            <div class="handle-tools-item" data-href="/GjjTool/index.html?type=1">
              <img src="/asset/imgs/geshui-jisuanqi.png" alt="">
              <span>个税计算器</span>
            </div>
          </div>
        </div>
        <div id="create-content" style="display: none;">
        <div class="mui-card">
          <!--页眉，放置标题-->
          <div class="mui-card-header">自主就业</div>
          <!--内容区-->
          <div class="mui-card-content">
            <ul class="mui-table-view">
              <li class="mui-table-view-cell">
                <a id="workCity" class="mui-navigate-right display-flex">
                  工作城市
                  <span id="workCityResult" style="padding-right: 15px"></span>
                </a>
              </li>
              <li class="mui-table-view-cell">
                <div class="mui-row">
                  <div class="mui-col-sm-4 mui-col-xs-4">办理单位</div>
                  <div
                    class="mui-col-sm-8 mui-col-xs-8 create-order-info__right"
                    id="workAdree"
                  ></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="select-city-agreement">
          <div style="border: 8px solid#F0F8FF;padding:14px 8px;border-radius: 5px;">
            <h5 id="xiyi-title">自主就业协议</h5>
            <div class="content" id="xiyi-content">
            </div>
          </div>
          <button id="agreement-btn" type="button" class="mui-btn agreement-btn">已阅读详情并办理服务</button>
        </div>
      </div>
      </div>
      
    </div>
    <div
      id="set-popover"
      class="mui-popover mui-popover-bottom mui-popover-action"
    >
      <!-- 可选择菜单 -->
      <ul class="mui-table-view">
        <li
          id="to-updataUserInfo"
          data-href="/MyInfo/index.html?back=MyServer"
          class="mui-table-view-cell"
        >
          <a>编辑个人信息</a>
        </li>
      </ul>
      <!-- 取消菜单 -->
      <ul class="mui-table-view">
        <li class="mui-table-view-cell" id="more-set-cancel">
          <a>取消</a>
        </li>
      </ul>
    </div>
  </body>
</html>
