<!DOCTYPE html>
<html lang="zh">
  <head>
    <title></title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="UTF-8" />
    <% for (var meta in htmlWebpackPlugin.options.files.meta) { %>
    <meta
      name="<%=htmlWebpackPlugin.options.files.meta[meta].name %>"
      content="<%=htmlWebpackPlugin.options.files.meta[meta].content %>"
    />
    <% } %> <% for (var css in htmlWebpackPlugin.options.files.css) { %>
    <link
      href="<%=htmlWebpackPlugin.options.files.css[css] %>"
      rel="stylesheet"
    />
    <% } %> <% for (var js in htmlWebpackPlugin.options.files.js) { %>
    <script src="<%=htmlWebpackPlugin.options.files.js[js] %>"></script>
    <% } %>
    <script type="text/javascript" charset="utf-8">
      window.NODE_ENV = "<%=htmlWebpackPlugin.options.files.NODE_ENV %>";
    </script>
  </head>
  <body>
    <!-- 主页面标题 -->
    <header class="mui-bar mui-bar-nav">
      <a
        class="mui-icon mui-icon-arrowleft mui-icon-bars mui-pull-left"
        id="home-menu"
      ></a>
      <h1 class="mui-title">我的资料</h1>
    </header>
    <div style="padding-top:50px"></div>
    <div class="display-flex" style="padding:15px;">
      <div id="headimg">
        <i
        class="mui-icon mui-icon-contact"
        style="font-size: 50px; color: #1199ff"
      ></i>
      </div>
      <div class="user-info">
        <p id="nickname"></p>
        <p id="userMobile"><p>
      </div>
    </div>
    <div class="mui-card myinfo-content">
      <!--页眉，放置标题-->
      <div class="mui-card-header">我的缴费信息</div>
      <!--内容区-->
      <div class="mui-card-content">
        <ul style="width:100%">
          <li class="mui-table-view-cell">
            <div class="mui-input-row">
              <label>姓名</label>
              <input
              id="userName"
                type="text"
                class="mui-input-clear"
                placeholder="请输入姓名"
              />
            </div>
          </li>
          <li class="mui-table-view-cell">
            <div class="mui-input-row">
              <label>身份证号</label>
              <input
              id="userIdCard"
                type="text"
                class="mui-input-clear"
                placeholder="请输入身份证号"
              />
            </div>
          </li>
          <li class="mui-table-view-cell">
            <div class="mui-input-row" style="display: block;padding: 11px 15px;">
              <a id="userHouseHoldOpen" class="mui-navigate-right display-flex">
                <label style="float:none;padding:0;">户籍信息</label>
                <span id="userHouseHold" style="padding-right: 15px"></span>
              </a>
            </div>
          </li>
          <li class="mui-table-view-cell">
            <div class="mui-input-row">
              <label>户籍城市</label>
              <input
                id="userHouseCity"
                type="text"
                class="mui-input-clear"
                placeholder="请输入户籍所在城市"
              />
            </div>
          </li>
          <li class="mui-table-view-cell">
            <div class="mui-input-row">
              <label>卡号</label>
              <input
              id="userBankCard"
                type="text"
                class="mui-input-clear"
                placeholder="请输入卡号"
              />
            </div>
          </li>
          <li class="mui-table-view-cell">
            <div class="mui-input-row">
              <label>开户行名称</label>
              <input
              id="userBankName"
                type="text"
                class="mui-input-clear"
                placeholder="请输入开户行名称"
              />
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mui-card myinfo-content">
      <!--页眉，放置标题-->
      <div class="mui-card-header">参保人资料</div>
      <!--内容区-->
      <div class="mui-card-content">
        <ul class="mui-table-view">
          <li class="mui-table-view-cell">
            <div class="mui-card-content">
              <input
                type="text"
                id="materialName"
                class="mui-input-clear"
                placeholder="请输入文件说明"
                style="width:80%"
              />
              <input
              id="upload-form"
              type="file"
              class="filebutton"
              style="display: none"
            />
              <button id="open-upload" class="mui-btn" style="height:40px;margin-left: 10px;">添加</button>
            </div>
            </div>
            <div class="material-list"></div>
          </li>
        </ul>
      </div>
    </div>
    <button
      id="save-info"
      type="button"
      class="mui-btn mui-btn-primary"
      style="
        background: #1199ff;
        display: block;
        margin: 10px auto;
        width: 60%;
        font-size: 18px;
      "
    >
      保存
    </button>
  </body>
</html>
