.myinfo-content{
    margin-top: .2rem;
    .mui-card-header{
        font-size: .4rem;
        background-color:#1199FF;
        color: #fff;
    }
    .mui-card-content{
        display: flex;
        padding: .2rem;
    }
    .material-item{
        display: flex;
        align-items: center;
        padding:0px 15px;
        padding-bottom: 3px;
        line-height: 30px;
    }
    .mui-table-view-cell{
        padding:0;
    }
    #materialName{
        margin-bottom: 0;
        outline: none;
    -webkit-appearance: none; /*去除系统默认的样式*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 点击高亮的颜色*/
    }
    .mui-input-row{
        input{
            width:60%;
            font-size: .4rem;
        }
        label{
            width:40%;
        }
    }
}
.display-flex{
    display: flex;
    align-items: center;
}
.head-portrait{
    display: block;
    width:50px;
    height:50px;
    border-radius: 50px;
  }
  .user-info{
      margin-left: 10px;
      p{
          font-size: 15px;
          color:#1b1b1b;
      }
  }
.mui-input-row{
    display: flex;
    align-items: center;
}